#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

#modal-content {
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    width: 50%;
}

#modal-head {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    font-size: 20px;
    background-color: #E74C3C;
    color: #ffffff;
}

#modal-title {
    padding: 8px 12px;
}

.modal-close {
    all: unset;
    padding: 8px 12px;
}

#modal-body {
    padding: 12px;
}

#calendar {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin: 20px;
    overflow: hidden;
    width: 50%;
    height: 80vh;
}

#calendar-head {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    background-color: #E74C3C;
    color: #ffffff;
}

.calendar-arrow {
    all: unset;
    padding: 12px 50px;
}

.calendar-button {
    all: unset;
    padding: 12px 20px;
}

.calendar-arrow:hover, .calendar-button:hover, .modal-close:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#calendar-body {
    padding: 12px;
    background-color: #FCFCFC;
    overflow: auto;
    height: 100%;
}

.calendar-item {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 24px;
}



.item-head {
    padding: 8px;
    background-color: #34495E;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.item-body {
    padding: 8px;
}

.item-foot {
    display: flex;
    justify-content: flex-end;
    user-select: none;
    padding: 8px;
}

.item-message {
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 50px;
}

.item-date {
    text-align: right;
}

#calendar-foot {
    background-color: #FCFCFC;
}

.con_banner{
    width: 100%;
    position: relative;
    text-align: center;
    color: black;
}

.banner_home{
    width: 90%;
    height: 25rem;
    border-radius: 20px;
    filter: blur(5px);
    -webkit-filter: blur(5px);
   
}

.welkom_text{
    font-size: 25px;
    position: absolute;
    bottom: 8px;
    left: 15rem;
}

.grid-container {
    display: grid;
    width: 100%;
    margin-top: 5rem;
    padding-left: 17rem;
    grid-template-columns: auto auto ;
   
}

.grid-item {
    width: 50%;
    text-align: left;
}
.grid-item b{
    text-align: center;
    font-size: 25px;
}

.foto_home{
    height:10rem;
    width: 15rem;
}