nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 77px;
    justify-content: space-between;
    padding: 0px 100px;
    background-color: rgb(172, 172, 172);
    position: fixed;
    z-index: 9999;
  }
  
  nav .links {
    display: flex;
    color: #a81010 ;
    font-size: 45px;
    align-items: center;
  }
  
  nav .links p {
    font-size: 20px;
    margin-left: 10px;
  }
  
  nav .rechts {
    font-size: 20px;
  }
  
  nav .rechts ul li {
    list-style-type: none;
  }